In [3]:
import re
import csv
import requests
from bs4 import BeautifulSoup
from IPython.display import HTML

In [6]:
coin_name = pd.read_csv("C:/Users/akars/OneDrive/Desktop/MScA Spring/Data Engineering Platforms/Project/Data Extraction/Crypto_names.csv", delimiter=',') 
#coin_name["symbol"][99]
#len(coin_name["symbol"])

In [343]:
data_1 == '[]'

True

In [341]:
coin = "miota"
url = 'https://bitinfocharts.com/comparison/tweets-'+coin.lower()+'.html'
headers = {'User-Agent': "Chrome/54.0.2840.90"}
response = requests.get(url, headers=headers)
html = response.text 

from bs4 import BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

x = soup.find_all('script')

data_1 = re.findall(r'(\[new\sDate.*\]])', str(x))
data_1 = str(data_1)

if data_1 == '[]':
    continue
data_2 = data_1.split("],[")
data_2[0] = data_2[0][3:]
data_2[len(data_2) - 1] = data_2[len(data_2) - 1][:-4]
data_pd = pd.DataFrame(data_2)
data_clean = data_pd[0].str.split(",", expand = True)
#data_clean = data_p
data_clean.columns = ['Date', 'No. of Tweets']
data_clean["Date"] = data_clean["Date"].str.slice(10,20)
data_clean["Coin"] = coin.upper()

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [14]:
len(df.Coin.unique())

96

In [11]:
import pandas as pd
df = pd.DataFrame({'Date': [], 'No. of Tweets': [], 'Coin': []})

for i in range(0,len(coin_name["symbol"])-1):
    #len(coin_name["symbol"])-1

    coin = coin_name["symbol"][i]
    url = 'https://bitinfocharts.com/comparison/tweets-'+coin.lower()+'.html'
    headers = {'User-Agent': "Chrome/54.0.2840.90"}
    response = requests.get(url, headers=headers)
    html = response.text 

    from bs4 import BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')

    x = soup.find_all('script')

    data_1 = re.findall(r'(\[new\sDate.*\]])', str(x))
    data_1 = str(data_1)
    
    
    if data_1 == '[]':
        continue
    data_2 = data_1.split("],[")
    data_2[0] = data_2[0][3:]
    data_2[len(data_2) - 1] = data_2[len(data_2) - 1][:-4]
    data_pd = pd.DataFrame(data_2)
    data_clean = data_pd[0].str.split(",", expand = True)
    data_clean = data_clean.iloc[:, 0:2]
    data_clean.columns = ['Date', 'No. of Tweets']
    data_clean["Date"] = data_clean["Date"].str.slice(10,20)
    data_clean["Coin"] = coin.upper()
    df = df.append(data_clean, ignore_index = True)

In [340]:
df

             Date No. of Tweets  Coin
0      2018/01/08             7   ZRX
1      2018/01/09            20   ZRX
2      2018/01/10            21   ZRX
3      2018/01/11             4   ZRX
4      2018/01/12             6   ZRX
5      2018/01/13            14   ZRX
6      2018/01/14             3   ZRX
7      2018/01/15            18   ZRX
8      2018/01/16             1   ZRX
9      2018/01/17             4   ZRX
10     2018/01/18            10   ZRX
11     2018/01/19             6   ZRX
12     2018/01/20          null   ZRX
13     2018/01/21          null   ZRX
14     2018/01/22             1   ZRX
15     2018/01/23            17   ZRX
16     2018/01/24             1   ZRX
17     2018/01/25             2   ZRX
18     2018/01/26             8   ZRX
19     2018/01/27             9   ZRX
20     2018/01/28             2   ZRX
21     2018/01/29             3   ZRX
22     2018/01/30          null   ZRX
23     2018/01/31             3   ZRX
24     2018/02/01          null   ZRX
25     2018/02/02          null   ZRX
26     2018/02/03             2   ZRX
27     2018/02/04             1   ZRX
28     2018/02/05             4   ZRX
29     2018/02/06             1   ZRX
...           ...           ...   ...
26511  2019/04/17             1  IOST
26512  2019/04/18             1  IOST
26513  2019/04/19             1  IOST
26514  2019/04/20             3  IOST
26515  2019/04/21             2  IOST
26516  2019/04/22             4  IOST
26517  2019/04/23             3  IOST
26518  2019/04/24             2  IOST
26519  2019/04/25          null  IOST
26520  2019/04/26             2  IOST
26521  2019/04/27             4  IOST
26522  2019/04/28          null  IOST
26523  2019/04/29             1  IOST
26524  2019/04/30             2  IOST
26525  2019/05/01             1  IOST
26526  2019/05/02          null  IOST
26527  2019/05/03             1  IOST
26528  2019/05/04             1  IOST
26529  2019/05/05             3  IOST
26530  2019/05/06             4  IOST
26531  2019/05/07             1  IOST
26532  2019/05/08             2  IOST
26533  2019/05/09             1  IOST
26534  2019/05/10             2  IOST
26535  2019/05/11          null  IOST
26536  2019/05/12             2  IOST
26537  2019/05/13             2  IOST
26538  2019/05/14             9  IOST
26539  2019/05/15             4  IOST
26540  2019/05/16             3  IOST

[26541 rows x 3 columns]

In [18]:
df.to_csv('C:/Users/akars/OneDrive/Desktop/MScA Spring/Data Engineering Platforms/Project/Data Extraction/Tweets.csv')